@import "tailwindcss";

@keyframes loader {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 57px;
    left: 57px;
    width: 74px;
    height: 74px;
    opacity: 0;
  }
}
@-webkit-keyframes loader {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 57px;
    left: 57px;
    width: 74px;
    height: 74px;
    opacity: 0;
  }
}

@theme {
  --font-sans: "Roboto", sans-serif;
  --animate-loader: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

  --color-base00: #657b83;
  --color-base01: #586e75;
  --color-base02: #102a36;
  --color-base03: #0b202b;
  --color-base0: #839496;
  --color-base1: #93a1a1;
  --color-base2: #eee8d5;
  --color-base3: #fdf6e3;
  --color-yellow: #b58900;
  --color-orange: #cb4b16;
  --color-red: #dc322f;
  --color-magenta: #d33682;
  --color-violet: #6c71c4;
  --color-blue: #268bd2;
  --color-cyan: #2aa198;
  --color-green: #859900;
}

@utility animation-delay-* {
  animation-delay: --value([ *]);
}

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
}

.theme-bg {
  @apply transition-colors duration-300 bg-base2 text-base00;
}

.dark {
  .theme-bg {
    @apply transition-colors duration-300 bg-base02 text-base0;
  }
  .theme-accent {
    @apply transition-colors duration-300 text-blue hover:text-cyan hover:bg-base02;
  }
}

/* @import "./style.css"; */