@use '../custom/variables' as *;

.resume-title {
  text-transform: capitalize;
  // margin-bottom: 1rem;
  margin-top: 2rem;
  // padding-bottom: 0.3rem;
  position: relative;
  display: block;
  // border-bottom: 1px solid $color-border;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   width: 50%;
  //   border-bottom: 1px solid $color-border;
  // }
}
