@use './custom/variables' as *;
.bg-1 {
  background-color: $color-bg1;
  background-image: url(/imgs/bg-1.jpg);
}

.bg-2 {
  background-color: $color-bg2;
  background-image: url(/imgs/bg-2.jpg);
}

body {
  @extend .bg-2;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.avatar-circle {
  border: 1rem solid $primary;
  border-radius: 100%;
}

.avatar {
  img {
    aspect-ratio: 1/1;
    border: 1rem solid rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}

.border-effect {
  position: relative;
  overflow: hidden;
  border-radius: 0 !important;

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &::before,
  &::after {
    content: '';
    box-sizing: inherit;
    position: absolute;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &:hover {
    background: transparent;
    transition: background 1s ease;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }

    &:before {
      border-top-color: $primary;
      border-right-color: $primary;
      transition:
        width 0.25s ease-out,
        height 0.25s ease-out 0.25s;
    }

    &:after {
      border-bottom-color: $primary;
      border-left-color: $primary;
      transition:
        border-color 0s ease-out 0.5s,
        width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
}

.section-title {
  position: relative;
  display: inline-block;
  padding-right: 25px;
  padding-bottom: 15px;

  .section-title-text {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: $primary;

    // &:after {
    //   position: absolute;
    //   opacity: 0.45;
    //   top: 12px;
    //   right: -25px;
    //   content: '';
    //   height: 30px;
    //   width: 50px;
    //   background-image: repeating-radial-gradient(circle at center, $secondary, $secondary 1px, transparent 1px, transparent 100%);
    //   background-size: 6px 6px;
    //   z-index: -1;
    // }
  }
}

@import './components/timeline';

.skill {
  .skill-title {
    font-size: 13px;
    line-height: 1.1em;
    position: relative;
    float: left;
    margin: 0 0 4px;
  }
  .skill-value {
    font-size: 11px;
    line-height: 1.1em;
    position: relative;
    float: right;
    margin: 0 0 4px;
    color: $color-primary-sub-text;
  }

  .skill-progress-bar {
    position: relative;
    display: inline-block;
    background-color: #2e2e2e;
    border: 1px solid $secondary;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 10px;
    margin-bottom: 8px;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      background-color: $secondary;
    }

    .skill-percentage {
      background: linear-gradient(to right, #2193b0, #6dd5ed);
      border: 2px solid #222;
      -moz-border-radius: 9px;
      -webkit-border-radius: 9px;
      border-radius: 9px;
      height: 8px;
      padding: 0;
    }
  }
}

.skill-group {
  padding: 10px;
  border: 1px dashed rgba($primary, 0.5);
  position: relative;
  margin-bottom: 36px;

  > span {
    position: absolute;
    color: $primary;
    top: -20px;
  }
}
