/*---------------------------------------------------------------------*/
/* Loader 
/*---------------------------------------------------------------------*/
@use './custom/variables' as *;

#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  z-index: 9999999;
}

.section-loader {
  background: $color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 9999999;
  transition: all 0.5s ease;

  &.fade-out {
    opacity: 0;
    visibility: hidden;
    z-index: -9999999;
  }
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before {
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: $primary;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}
